[core]
  excludesfile = ~/.gitignore
[pull]
	rebase = true
[user]
	email = tylerh@articulate.com
	name = Tyler Haas
[alias]
	co = checkout
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
